	body {
	  position: relative;
	  font-family: "Roboto";
	  font-weight: 300;
	}
	
	h1 {
		margin: 60px 0 20px 0;
		padding: 0 0 12px 0; 
		border-bottom: 1px solid #eaecef;
	}
	
	h2 { 
		margin: 32px 0 12px 0; 
		padding-bottom: 0.3em;
		font-size: 1.5em;
	}
	
	h1:first-child { margin: 0 0 20px 0; }

	code {
		padding: 0;
		padding: 3px 5px 3px 6px;
		margin: 0;
		font-size: 85%;
		background-color: rgba(27,31,35,0.05);
		border-radius: 4px;
    }

    .navbar-brand {
        float:none;
    }

    .navbar-brand img {
        padding-left: 25px;
    }

    .navbar-nav,
    .navbar-toggle {
        margin-top: 25px;
    }
    
	blockquote { margin: 40px 30px 40px 30px; font-size: inherit; background-color: #fafafa; }
	blockquote ul { margin: 0; padding: 0; }
	blockquote ul { list-style-type: none; }
	blockquote ul > li { position: relative; padding-left: 20px; font-style: italic; }
	blockquote ul > li:before { content: "—"; position: absolute; left: -0px; }
	
	#pageContainer {
		min-height: 100vh;
	}
	
	.anchorjs-link:hover { text-decoration: none; }
	
	.box { 
		border: 1px solid #ccc; 
		padding: 0 10px 10px 10px; 
		margin: 4px; 
		background-color: #fafafa; 
		display: inline-block;
		vertical-align: top;
	}

	.box h2 { padding: 0; margin: 12px 0 12px 0; border: none; }

	.box li { margin: 0 0 7px 20px; }

	.container {
		position: relative; 
		margin: auto; 
		max-width: 1200px;
	}
	
	.content { 
		padding: 30px; 
		font-size: 15px;
		line-height: 30px;
		word-wrap: break-word;
		word-break: break-word;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
	}

	.tocContainer {
		padding: 41px 0 0 0; 
	}
	
	.footer { 
		padding-top: 50px;
		padding-bottom: 50px;
		margin-top: 100px;
		color: #99979c;
		text-align: left;
		background-color: #2a2730;
	}
	
	.editThisPage {
		background-color: #fafafa;
		border: 1px solid #efefef;
		padding: 40px;
		text-align: center;
		border-radius: 3px;
	}
	
	.editThisPage i {
		font-size: 48px;
	}
	
	.footer a { 
		color: #fff; 
	}
