---
layout: default
---

<div class="container row">

	<div id="pageContent" class="content col-md-9">
		{{content}}
	</div>

	<div class="tocContainer col-md-3">
		<div id="toc"></div>		
	</div>

</div>

<div class="container row">

	<div class="content col-md-9">
		<div class="editThisPage">
			<p><i class="fa fa-github" aria-hidden="true"></i><br /><a target="_blank" href="https://github.com/energyprinciples/energyprinciples.github.io/tree/master/{{page.path}}">View or edit this page on GitHub</a></p>
			<p>Please read our <a href="/creative-commons">usage</a> and <a href="/contributing">contribution</a> guidelines.</p>
		</div>
	</div>

	<div class="col-md-3"></div>
	
</div>


<script type="text/javascript">

    // call anchorjs to add anchor tags. not a jquery plugin	
    anchors.options.placement = 'left';
    anchors.add('h1');
    anchors.add();

    $(document).ready(function() {

        // generate toc using tocJS
        $('#toc').width($('#toc').parents().width()); // set toc width
        $('#toc').toc({
            elementClass: 'toc',
            ulClass: 'nav',
            heading: 'Contents'
        });

        // call jquery scrollspy() on toc
        $('body').scrollspy({ target: '#toc' });

        // scroll then fix toc (https://codepen.io/anon/pen/RZreNN)
        $(window).scroll(function() 
        {
            var scrollWithElement = $("#pageContent");
            var verticalOffset = 30;
            var fadeInDelay = 300;
            var scrollFromOffset = scrollWithElement.offset().top;
            var scrollUntilOffset = scrollWithElement.height() - $("#toc").height();

            var scrollPos = $(this).scrollTop();
            if (scrollPos > scrollFromOffset)
            {
                if (scrollPos < scrollUntilOffset) {
                    $('#toc').css({'position':'fixed','top':verticalOffset+'px'});
                }
                else {
                    $('#toc').css({'position':'relative','top':(scrollUntilOffset - scrollFromOffset)+'px'});
                }
            }
            else { 
                $('#toc').css({'position':'relative','top':'0'});
            }
        });
        
        // thanks https://stackoverflow.com/questions/14804941/how-to-add-smooth-scrolling-to-bootstraps-scroll-spy-function
        $(".toc ul li a[href^='#']").on('click', function(e) 
        {
            // prevent default anchor click behavior
            e.preventDefault();

            // animate
            $('html, body').animate({ scrollTop: $(this.hash).offset().top }, 300, function()
            {	   
                // when done, add hash to url (default click behaviour)
                window.location.hash = this.hash;
            });
        });

        // evaluate the page width onReady
        OnWidthChange();
    });
    
    $(window).resize(function ()
    {
        OnWidthChange();
    });
    
     function OnWidthChange()
     {
        if (window.innerWidth >= 992)
        {
            $("#toc").show();
        }
        else
        {
            $("#toc").hide();
        }
     }

</script>