<!DOCTYPE html>

<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }}</title>

  <meta name="description" content="{{ page.description }}">

  <style>
    /* to help render in an unconfusing way if CSS cannot be loaded */
    #mobile-navigation {  display: none; }
  </style>

  <link rel="icon" href="./favicon.ico" type="image/x-icon" />
  
  <!-- css -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" /> 
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400|Open+Sans:300|Open+Sans+Condensed:300" /> 
  <link rel="stylesheet" type="text/css" href="/css/jquery.toc-scroll.css" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" />

  <!--[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  <!-- Bootstrap: Latest compiled and minified JavaScript -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/jquery.toc.js"></script> <!-- https://github.com/nghuuphuoc/tocjs -->
  <script type="text/javascript" src="/js/anchor.min.js"></script> <!-- https://www.bryanbraun.com/anchorjs/ -->

</head>

<body>

	<nav>{% include /menu.html %}</nav>
	
	<div id="pageContainer">
		{{ content }}
	</div>
	
	{% include /footer.html %}

</body>
</html>